:root {
  --font-f: "Inter", sans-serif;
  --font-lh: 1.5;
  --font-w: 400;

  /* color-scheme: light dark; */

  --text-color: #131313;
  --bg-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --text-color: #ffffff;
  --bg-color: #242424;
}

body {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: var(--font-f);
  line-height: var(--font-lh);
  font-weight: var(--font-w);
}

h1 {
  font-size: 3rem;
  max-width: 80%;
  margin: 50px 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}